<!doctype html>
{% extends 'inner-page.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    
</head>
<body>

{% block body %}
    <h2>Welcome {{ members.username }}.You have logged in as an admin!</h2>
    <a class="btn btn-warning" href="{% url 'upload' %}"></a>
{% endblock %}
</body>
</html>